<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>List of Books</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(book) { %>
                    <tr class="book-item">
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.genre %></td>
                        <td><%= book.year %></td>
                        <td><%= book.notes %></td>
                        <td>
                            <a href="/change/<%= book.id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Change
                            </a>
                            <form action="/delete/<%= book._id %>?_method=DELETE" method="post" style="display: inline;">
                                <button class="btn btn-danger btn-sm" data-id="<%= book._id %>">
                                    <i class="fas fa-trash-alt"></i> Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>














